<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785713279686-kuurnc67nltes8tfgg34unhoci2la8a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785713279686-kuurnc67nltes8tfgg34unhoci2la8a2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785713279686-7a6bvmi304bmfltgjdfdko0f1cnorpm5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZf6Jfs4-cCkBJestmGrTBjJ4DAoq81Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>785713279686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habit.note</string>
	<key>PROJECT_ID</key>
	<string>flutter-habit-note</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-habit-note.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785713279686:ios:2fe133d4778375ba42ddc7</string>
</dict>
</plist>